<nav>
    <ul>
        <li><a href="{{ path('app_home_index') }}">Home</a></li>
        <li><a href="{{ path('app_home_contact', {'name': 'Jean'}) }}">Contact</a></li>
        <li><a href="{{ path('app_home_team') }}">Team</a></li>
        <li><a href="{{ path('app_home_cgu') }}">Condition Général</a></li>
    </ul>
</nav>
